.footer {
  width: 100%;
  background: #20003C;
  color: #fff;
  padding: 40px 0;
  font-family: Roboto;
}
@media (max-width: 768px) {
  .footer {
    padding: 45px 20px;
  }
}

.footer-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 143px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media (max-width: 1024px) {
  .footer-container {
    padding: 45px 20px;
  }
}
@media (max-width: 768px) {
  .footer-container {
    gap: 40px;
  }
}

.footer-top {
  max-width: 1154px;
  flex-wrap: wrap;
  display: flex;
  border: 1px solid blue;
  align-items: flex-start;
  justify-content: space-between;
  gap: 383.25px;
}
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
  }
}

.footer-columns {
  width: 573px;
  height: 288px;
  display: flex;
  gap: 40px;
}
@media (max-width: 768px) {
  .footer-columns {
    flex-direction: column;
    gap: 40px;
    max-width: 155px;
  }
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (max-width: 768px) {
  .footer-column {
    font-size: 13px;
    line-height: 18.2px;
  }
}

.first {
  width: 155.26px;
  height: 21px;
}
@media (max-width: 768px) {
  .first {
    width: 100%;
    height: auto;
  }
}

.footer-column h3,
.footer-top-right h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-column p,
.footer-top-right p {
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}

.footer-top-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 192.25px;
  border: 1px solid red;
}
@media (max-width: 768px) {
  .footer-top-right {
    max-width: 208.06px;
    padding: 2px 0;
  }
}

.social-media {
  display: flex;
  gap: 30px;
}
@media (max-width: 768px) {
  .social-media {
    justify-content: flex-start;
    gap: 20px;
  }
}

.social-media img {
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  align-items: center;
  gap: 456px;
}
@media (max-width: 768px) {
  .footer-bottom {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}

.footer-logo {
  width: 25px;
}
@media (max-width: 768px) {
  .footer-logo {
    display: none;
  }
}

.footer-bottom-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 768px) {
  .footer-bottom-right {
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
}

.footer-bottom-right img {
  width: 70px;
}
@media (max-width: 768px) {
  .footer-bottom-right img {
    width: 50px;
  }
}

.footer-bottom-right p {
  font-size: 13px;
}
@media (max-width: 768px) {
  .footer-bottom-right p {
    font-size: 12px;
    text-align: center;
  }
}