* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1480px;
  padding: 0px 20px;
  margin: 0 auto;
  box-sizing: content-box;
}

.html {
  font-family: "Roboto", sans-serif;
}

.header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.container {
  max-width: 1240px;
  height: 70px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .container {
    margin: 0px 40px;
  }
}
@media (max-width: 768px) {
  .container {
    margin: 0px 20px;
  }
}

.logo {
  max-width: 79px;
}

.logo img {
  height: 24px;
  width: auto;
  display: block;
}

.nav-menu {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  align-items: center;
  margin: 0;
  padding: 0;
}
@media (max-width: 1200px) {
  .nav-menu {
    margin: 0px 20px;
  }
}
@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}

.nav-menu li {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #1c1c1c;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .nav-menu li {
    font-size: 12px;
  }
}

.demo-btn {
  width: 157px;
  height: 40px;
  background: rgb(111, 44, 255);
  color: #fff;
  border-radius: 20px;
  border: none;
  font-family: Roboto;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
@media (max-width: 1200px) {
  .demo-btn {
    width: 157px;
    font-size: 14px;
    height: 40px;
  }
}
@media (max-width: 768px) {
  .demo-btn {
    width: 157px;
    font-size: 14px;
    height: 40px;
  }
}

.demo-btn:hover {
  opacity: 0.85;
}