.footer
    width: 100%
    background: #20003C
    color: #fff
    padding: 50px 0
    font-family: Roboto


.footer-container
    width: 1150px
    margin: auto
    display: flex
    flex-direction: column
    gap: 60px



.footer-top
    width: 1154px
    height: 310px
    display: flex
    gap: 383px
    justify-content: space-between
    align-items: flex-start



.footer-columns
    width: 573px
    height: 288px
    display: flex
    gap: 40px


.footer-column
    display: flex
    flex-direction: column
    gap: 15px
    width: 155px
    height: 288px

.first
    width: 155.26px
    height: 21px


.footer-column h3,
.footer-top-right h3
    font-size: 16px
    font-weight: 700
    margin-bottom: 10px


.footer-column p,
.footer-top-right p
    font-size: 14px
    line-height: 18px
    cursor: pointer



.footer-top-right
    display: flex
    flex-direction: column
    gap: 15px
    width: 192.25px
    height: 204px


.social-media
    display: flex
    gap: 30px


.social-media img
    width: 17px
    height: 17px
    cursor: pointer



.footer-bottom
    display: flex
    align-items: center
    gap: 456px


.footer-logo
    width: 25px


.footer-bottom-right
    display: flex
    align-items: center
    flex-direction: column
    gap: 20px


.footer-bottom-right img
    width: 70px


.footer-bottom-right p
    font-size: 13px

