
* 
    margin: 0
    padding: 0
    box-sizing: border-box




.wrapper 
    max-width: 1480px
    padding: 0px 20px
    margin: 0 auto 
    box-sizing: border-box


.html
    font-family: "Roboto", sans-serif

.header 
    width: 100%
    background: #fff
    border-bottom: 1px solid rgba(0, 0, 0, 0.05)
    position: relative
    z-index: 100


.container 
    max-width: 1240px
    height: 70px
    margin: 0 auto
    padding: 0 
    display: flex
    align-items: center
    justify-content: space-between
    @media (max-width: 1200px)
        margin: 0px 40px 

    @media (max-width: 768px)
        margin: 0px 20px 
     
.logo
    max-width: 79px

.logo img  
    height: 24px
    width: auto
    display: block



.nav-menu 
    list-style: none
    display: grid
    grid-template-columns: repeat(6, 1fr)
    gap: 40px 
    align-items: center
    margin: 0
    padding: 0
    @media (max-width: 1200px)
        gap: 30px
    @media (max-width: 768px) 
        display: none
        


.nav-menu li 
    font-size: 14px
    color: #1c1c1c
    cursor: pointer
    @media (max-width: 1200px)
        font-size: 12px



.demo-btn 
    width: 157px
    height: 40px
    background: rgba(111, 44, 255, 1)
    color: #fff
    border-radius: 20px
    border: none
    font-size: 14px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    transition: 0.2s ease-in-out
    &:hover
        opacity: 0.85
    @media (max-width: 768px)
        width: 150px
        font-size: 14px
        height: 38px


   