@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
}


/* HEADER */


.header {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}


.container {
    max-width: 1240px;
    height: 70px;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo img {
    height: 24px;
    width: auto;
    display: block;
}


.nav-menu {
    list-style: none;
    display: flex;
    gap: 40px; 
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #1c1c1c;
    cursor: pointer;
}


.demo-btn {
    width: 157px;
    height: 40px;
    background: rgba(111, 44, 255, 1);
    color: #fff;
    border-radius: 20px;
    border: none;

    font-family: Roboto;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.demo-btn:hover {
    opacity: 0.85;
}


/* main 1 */


.main {
    width: 100%;
    overflow: hidden;
}

.miniature {
    position: relative;
    width: 100%;
    height: 695px;
    background: rgba(246, 190, 217, 1);
}

.images img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 1;
}


.main-content {
    position: absolute;
    z-index: 2;
    max-width: 600px;
    left: 100px;
    top: 140px;
}


.subtitle {
    font-size: 16px;
    color: #000;
    margin-bottom: 16px; 
}


.title {
    font-size: 54px;
    font-weight: 700;
    line-height: 1.1; 
    color: #000;
    margin-bottom: 12px; 
}

.title span {
    color: rgba(111, 45, 255, 1);
    display: block; 
    margin-top: 10px; 
}


.desc {
    font-size: 18px;
    line-height: 30px;
    margin-top: 28px;
    font-weight: 400; 
    max-width: 440px;
}



.form {
    display: flex;
    margin-top: 35px; 
}

.form input {
    width: 270px;
    height: 45px;
    border: 1px solid rgba(111, 44, 255, 1);
    border-radius: 27.5px 0 0 27.5px;
    padding-left: 20px;
    font-size: 15px;
    outline: none;
}

.form button {
    width: 187px;
    height: 45px;
    border-radius: 0 27.5px 27.5px 0;
    border: 1px solid rgba(111, 44, 255, 1);
    background: rgba(111, 44, 255, 1);
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
}

.form button:hover {
    opacity: 0.85;
}



/* main 2 */


.partner {
    width: 1440px;
    min-height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.partner-img {
    width: 1240px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px; 
}


.partner h3 {
    color: #1C1C1C;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 25px;
    text-align: center;
}

.customers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.customers h4 {
    color: #1C1C1C;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
}

.rectangle {
    width: 170px;
    height: 2px;
    background: rgba(111, 44, 255, 1);
    margin-top: 4px;
}



/* main 3 */

.ecommerce {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 70px 0;
    background: whitesmoke;
}

.eco {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.eco h1 {
    color: #000;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.eco p {
    color: #000;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    line-height: 28px;
}

.banner {
    margin: 60px 222px ;
}

.banner img {
    object-fit: contain;
    max-width: 996px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.see,
.book {
    width: 190px;
    height: 40px;
    border-radius: 30px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
}


.see {
    background: rgba(111, 44, 255, 1);
    color: white;
    border: none;
}

.see:hover {
    background: rgba(90, 30, 230, 1);
}


.book {
    background: transparent;
    color: rgba(111, 44, 255, 1);
    border: 2px solid rgba(111, 44, 255, 1);
}

.book:hover {
    background: rgba(111, 44, 255, 0.1);
}


/* footer */

.footer {
    width: 100%;
    background: #20003C;
    color: #fff;
    padding: 50px 0;
    font-family: Roboto;
}

.footer-container {
    width: 1150px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}


.footer-top {
    width: 1154px;
    height: 310px;
    display: flex;
    gap: 383px;
    justify-content: space-between;
    align-items: flex-start;
}


.footer-columns {
    width: 573px;
    height: 288px;
    display: flex;
    gap: 40px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 155px;
    height: 288px;
}
.first {
    width: 155.26px;
    height: 21px;
}

.footer-column h3,
.footer-top-right h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer-column p,
.footer-top-right p {
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
}


.footer-top-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 192.25px;
    height: 204px;
}

.social-media {
    display: flex;
    gap: 30px;
}

.social-media img {
    width: 17px;
    height: 17px;
    cursor: pointer;
}


.footer-bottom {
    display: flex;
    align-items: center;
    gap: 456px;
}

.footer-logo {
    width: 25px;
}

.footer-bottom-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.footer-bottom-right img {
    width: 70px;
}

.footer-bottom-right p {
    font-size: 13px;
}
