/* header */

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 1440px;
    height: 60px;
    border: 2px solid red;
    background-color: rgba(255, 255, 255, 1);
}

.container {
    width: 1240px;
    height: 60px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 162px;
    border: 2px solid red;
}

.logo {
    width: 79px;
    height: 24px;
}

.logo img {
    width: 100%;
    object-fit: cover;
}

.pages {
    width: 678px;
    height: 14px;
    display: flex;
    gap: 55px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px solid green;
}

.pages span {
    color: rgba(28, 28, 28, 1);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}