@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
    background-color: gray;
}

/* header */

header {
    width: 100%;
    height: 60px;
    border: 2px solid red;
    background-color: rgba(255, 255, 255, 1);
    padding: 0 100px;
}

.container {
    width: 1240px;
    height: 100%;
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 162px;
    /* border: 2px solid red; */
}

.logo {
    width: 79px;
    height: 24px;
}

.logo img {
    width: 100%;
    object-fit: cover;
}

.container ul {
    width: 678px;
    height: 14px;
    display: flex;
    gap: 35px;
    /* border: 2px solid green; */
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
}

.container ul li {
    width:90px;
    height: 14px;
    color: rgba(28, 28, 28, 1);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}

.book-demo {
    width: 157px;
    height: 40px;
    background-color:rgba(111, 44, 255, 1);
    border-radius: 20px;
    padding: 13px 34px;
}

.book-demo span {
    width: 89px;
    height: 14px;
    color: rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
}